html, body {
    background: rgb(255, 254, 232);
    margin: 0;
 }

.UV {
        width: 90%;
        height: 100%;
}

.text {
    width: 100%;
    font-size: 4.3em;
    color: rgb(255, 102, 0);
    padding: 7vmin 10vmin;
}

#bg {
    width: auto;
    height: 140px;
    margin: 0;
    background-color: rgb(255, 102, 0);
    padding: 5vmin;
}

.value {
    font-size: 7em;
    text-align: center;
    color: white;
    position: relative;
    /* font-style: italic; */
}

h1 {
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     display: block;
     margin: auto;
     text-align: center;
}

#now {
    padding: 10vmin 5vmin 0 10vmin ;
    color: black;
    font-size: 2em;
}

#date {
    padding: 3vmin 10vmin 10vmin 10vmin;
    color: black;
    font-size: 2em;
}

img {
    padding: 0 10vmin;
    width: 80vw;
    height: auto;
    margin: 0 auto 60px auto;
    display: block;
    justify-content: center;
}