html, body {
    background-color: black;
    margin: 0;
    height: 160.5in;
}

.month-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.932);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}

.january {
    margin-top: 40vh;
}

.winter-elements {
    margin-top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#winter-background {
    z-index: 0;
    width: 75%;
    height: 75%;
}

#winter-mountains {
    z-index: 1;
    width: 75%;
    height: 75%;
}

#winter-foreground {
    z-index: 2;
    width: 75%;
    height: 75%;
}

#winter-snow {
    z-index: 3;
    width: 75%;
    height: 75%;
}

#winter-snow-gif {
    z-index: 4;
    width: 75%;
    height: 75%;
    display: none;
}

#invisible-div-winter {
    z-index: 5;
    width: 75%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
}

#snowww-mp3 {
    position: relative;
    top: 190vh;
    left: 12%;
    opacity: 0.2;
}

.snow-hover {
    position: absolute;
}

.snow-hover:hover #winter-snow {
    display: none;
}

.snow-hover:hover #winter-snow-gif {
    display: block;
}

#snowstorm-mp3 {
    position: relative;
    top: 180vh;
    left: 12%;
    opacity: 0.1;
}

.february {
    margin-top: 300vh;
}

.march {
    margin-top: 100vh;
}

.spring-elements {
    margin-top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#spring-sky {
    z-index: 0;
    width: 75%;
    height: 75%;
}

#spring-clouds {
    z-index: 2;
    width: 75%;
    height: 75%;
}

#spring-mountains {
    z-index: 3;
    width: 75%;
    height: 75%;
}

#spring-whole-grass {
    z-index: 4;
    width: 75%;
    height: 75%;
}

#spring-flowers {
    z-index: 5;
    width: 75%;
    height: 75%;
}

#spring-flowers-gif {
    z-index: 6;
    width: 75%;
    height: 75%;
    display: none;
}

#invisible-div-spring {
    z-index: 7;
    width: 75%;
    height: 120px;
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
}

.flowers-hover {
    position: absolute;
}

.flowers-hover:hover #spring-flowers {
    display: none;
}

.flowers-hover:hover #spring-flowers-gif {
    display: block;
}

#meadows-mp3 {
    position: relative;
    top: 190vh;
    left: 12%;
    opacity: 0.2;
}

.april {
    margin-top: 300vh;
}

.may {
    margin-top: 100vh;
}

.june {
    margin-top: 100vh;
}

.summer-elements {
    margin-top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#summer-sky {
    z-index: 0;
    width: 75%;
    height: 75%;
}

#summer-mountains {
    z-index: 1;
    width: 75%;
    height: 75%;
}

#summer-waves {
    z-index: 2;
    width: 75%;
    height: 75%;
}

#summer-sand {
    z-index: 3;
    width: 75%;
    height: 75%;
}

#summer-sun {
    z-index: 4;
    width: 75%;
    height: 75%;
    display: block;
}

#summer-sun-hover {
    z-index: 5;
    width: 75%;
    height: 75%;
    display: none;
}

#invisible-div-summer {
    z-index: 6;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    border-bottom-right-radius: 100%;
}

.sun-hover {
    position: absolute;
}

.sun-hover:hover #summer-sun{
    display: none;
}

.sun-hover:hover #summer-sun-hover{
    display: block;
}

#waves-mp3 {
    position: relative;
    top: 190vh;
    left: 12%;
    opacity: 0.2;
}

.july {
    margin-top: 300vh;
}

.august {
    margin-top: 100vh;
}

.september {
    margin-top: 100vh;
}

.autumn-elements {
    margin-top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#autumn-sky {
    z-index: 0;
    width: 75%;
    height: 75%;
}

#autumn-back-trees {
    z-index: 1;
    width: 75%;
    height: 75%;
}

#autumn-pathway {
    z-index: 2;
    width: 75%;
    height: 75%;
}

#autumn-front-trees {
    z-index: 3;
    width: 75%;
    height: 75%;
}

#autumn-leaves {
    z-index: 4;
    width: 75%;
    height: 75%;
    display: none;
}

#invisible-div-autumn {
    z-index: 5;
    width: 90px;
    height: 70px;
    position: absolute;
    bottom: 130px;
    left: 230px;
    background-color: black;
    opacity: 0.2;
}

.autumn-hover {
    position: absolute;
}

.autumn-hover:hover #autumn-front-trees {
    display: none;
}

.autumn-hover:hover #autumn-leaves {
    display: block;
}

#forest-mp3 {
    position: relative;
    top: 190vh;
    left: 12%;
    opacity: 0.2;
}

.october {
    margin-top: 300vh;
}

.november {
    margin-top: 100vh;
}

.december {
    margin-top: 100vh;
}


<div
data-aos="fade-up"
data-aos-offset="200"
data-aos-delay="50"
data-aos-duration="1000"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="false"
data-aos-anchor-placement="top-center"
>
</div>

