body {
	width: auto;
	height: auto;
}

.page-title {
	font-size: 7em;
	font-family: var(--primary-font);
	position: relative;
	// margin-top: 0vmin;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}

.page-title:hover {
	letter-spacing: 0.15em;
}