:root {
	--primary-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	--secondary-font: 'Roboto', sans-serif;
	--primary-color: rgb(231, 224, 190);
	--secondary-color: black;
	--third-color: rgb(172, 135, 14);
	--fourth-color: azure;
}